{% extends "article.html" %}

{% block content %}
<section id="content" class="body">
  <article>
    <div class="entry-content">
      {{ article.content }}
      <ul>
      {% for project in gitlab_projects %}
        <li>
          <a href="{{ project.web_url }}">{{
            project.path_with_namespace
          }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </article>
</section>
{% endblock %}
